<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/style.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
  </head>
  <body>
    <header>
      
    </header>
    <div class="balls">
      <img src="/img/page2imgs/Ellipse 3.png" class="ball3"></img>
      <img src="/img/page2imgs/Ellipse 4.png" class="ball4"></img>
      <img src="/img/page2imgs/Ellipse 5.png" class="ball5"></img>
      <img src="/img/page2imgs/Ellipse 6.png" class="ball6"></img>
      <img src="/img/page2imgs/Ellipse 7.png" class="ball7"></img>
    </div>
    <main>

      <div class="char_info">
        <div class="item1">
            <p class="id">?</p>
            <img id="imgimg" src="https://wiki.evageeks.org/images/b/b5/SEELE_logo(NGE).jpg" class="profile">
            <div class="buttons">
              <button class="arrowbtn" id="esquerda"><img src="/img/setadir.png"></button>
              <button class="arrowbtn" id="direita"><img src="/img/setaesq.png"></button>
          </div>
        </div>
        <div class="item2">
            <div class="more_info">
                <section class="personal_info">
                    <p class="nome">loading</p>
                    <p class="frase">loading</p>
                    <p><b>IDADE: </b><small class="idade">loading</small></p>
                    <p><b>STATUS: </b><small class="status">loading</small></p>
                    <p><b>ESPÉCIE: </b><small class="especie">loading</small></p>
                </section>
                <hr>
                <section class="org_info">
                    <div class="bordaverde">
                        <p><b>PILOTA</b> <br> <small class="pilota">loading</small></p>
                        <p><b>OCUPAÇÃO/TITULO </b><br> <small class="ocupacao">loading</small></p>
                        <p><b>FILIAÇÃO </b><br> <small class="filiacao">loading</small></p>
                        <!-- <button class="apagar">APAGAR</button> -->
                    </div>
                    <div class="evaimg">
                        <img class="imagem" src="/img/eva.png" style="width:80%; mix-blend-mode: multiply;">
                    </div>
                </section>
            </div>
        </div>
        <div class="item3">
          <h3 class="displaynm"> loading </h3>
          <p class="desc"> loading</p>
          
        </div>
    </main>
    <footer class="footer">
        <div class="author_info">
          <p class="title"> <%=title %> </p>
          <div class="authors">
            <h6> <%=pedro %> </h6>
            <h6> <%=derick %> </h6>
          </div>
          <hr class="authorhr">
          <div class="rest">
            <p> <%=descricao_projeto %> </p>
            <p> <%=agradecimentos %> </p>
            <p> Colégio <%=colegio %> </p>
            <p> Versão: <%=version %> </p>
          </div>
        </div>
    </footer>
    <script src="/scripts/script.js"></script>
  </body>
</html>